.nav-items{
    display: flex;
    justify-content: flex-end;
}

.navbar-brand img{
    filter: invert();
}

.nav-items li{
    transition: .5s;
}
.nav-items li:hover{
    letter-spacing: 6px;
}

.navbar-nav{
    margin-left: auto;
    letter-spacing: 2px;
    font-family: Outfit;
}

.navBar{
    position: fixed;
    bottom: 5px;
}