@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
.webLogoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.webLogoContainer h1{
    color:#fc2e20;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    filter: drop-shadow(0px 10px 8px #000);
    font-family: Outfit;
}

.webLogoContainer button{
    background-color: orangered;
    border-radius: 50px;
    padding: 5px 20px;
    letter-spacing: 2px;
    transition: .5s;
}

.webLogoContainer button:hover{
    letter-spacing: 6px;
}